<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{%block title%}Weather App{%endblock%}</title>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    {%block name%}Welcome to Weather App{%endblock%}
</head>




{%block content%}

<body class="text-center" data-new-gr-c-s-check-loaded="14.1049.0" data-gr-ext-installed="" style="background-color: #f5f5f5;">
<script>
function myFunction() {
  document.getElementById("demo").style.display = "none";
}
</script>

<div class="bodyc">
<main class="form-signin">
        <form method="POST">
              {%csrf_token%}
          <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
          <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" name="username" placeholder="Username">
                <label for="floatingInput">Username</label>
          </div>
          <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
                <label for="floatingPassword">Password</label>
          </div>

          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me"> Remember me
            </label>
          </div>

                {%if messages%}

                       <div class="alert alert-warning alert-dismissible fade show" id="demo" role="alert">
                            {% for message in messages %}
                            {% if forloop.first %}
                               {{ message }}
                            {%endif%}
                           {%endfor%}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" onclick="myFunction()" aria-label="Close"></button>
                        </div>

                {%endif%}

          <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button><br>
            <br>
            <a href="{%url 'register'%}" class="link-primary">Do not have an account yet?</a>

            <p class="mt-5 mb-3 text-muted" >© 2021–2022</p>
  </form>
</main>




</div>
</body>

</html>

{%endblock%}