<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{%block title%}Weather App{%endblock%}</title>
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">



</head>
<body class="text-center" data-new-gr-c-s-check-loaded="14.1049.0" data-gr-ext-installed="" style="background-color: #f5f5f5;">
<div class="bodyc">
<main class="form-signin">
{%block name%}Welcome to Registration Page{%endblock%}
{%block content%}
<div class="mb-3">
  <form action="" method="POST">
      {%csrf_token%}
        {{form.as_p}}
     <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button><br>
  </form>
</div>
</main>
</div>
{%endblock%}
</body>
</html>


