.div-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 15px;
}
.clr{
clear:both;
}

.div-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 25px 50px;
    text-align: center;
}

.div-left button{
  max-width: 170px;
  margin-top:30px;

}
.div-left input[type=text]{
    margin-top:15px;
    padding: 10px 15px;
    width: 100%;
    max-width: 280px;
    border: none;
    background-color: rgba(255,255,255,0.4);
    border-radius: 16px 0 16px 0;
    color: #333;
    font-size: 20px;
    font-weight: 300;
    border: 3px solid #0d6efd;
    transition: 0.2s ease-out;
}
.big{
    display: grid!important;
    grid-template-columns: 50% 50%!important;
    height: 75vh!important;
}


.list-group{
min-width:300px;
max-width: 300px;
}
.bodyc{

    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
    height:70vh;
    }
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
.div-left form{
display:flex;
flex-direction: column;
align-items:center;
}
.modal-content{
max-width: 294px!important;
}

.active{
    color: #fff;
    background-color: #0d6efd;
}