{%extends 'layout.html'%}
{%block url%}/approval{%endblock%}
{%block title%}APPROVAL-PAGE{%endblock%}
{%block name%}Welcome to Approval Page{%endblock%}
{%block content%}
{%if user.is_authenticated%}

<div class="album py-5 bg-light">
    <div class="container">
        <form action="" method="POST">
            {%csrf_token%}
            <table class="table">
              <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Goods</th>
                    <th scope="col">Approved</th>
                </tr>
              </thead>
              <tbody>
              {%for car in cars%}
                <tr>
                    <th scope="row">{{car.id}}</th>
                    <td>{{car.carname}}</td>
                    {%if car.approved%}
                    <td><input type="checkbox" checked="true" name="boxes" value="{{car.id}}"></td>
                    {%else%}
                      <td><input type="checkbox"  name="boxes" value="{{car.id}}" ></td>
                    {%endif %}
                </tr>
              {%endfor%}
              </tbody>
            </table>
            <button type="submit" class="btn btn-primary">Update</button>
            </form>
    </div>
</div>
{%else%}
<div class="alert alert-secondary" role="alert">
  You haven't been registered yet!To register  <a href="{%url 'login' %}" class="alert-link">click here</a>!
</div>
{%endif%}
{%endblock%}