<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{%block title%}{%endblock%}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">




</head>
<body>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script>
function myFunction() {
  document.getElementById("demo").style.display = "none";
}
</script>


<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="{%block url%}{%endblock%}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4">{%block name%}{%endblock%}</span>
      </a>
        {% with request.resolver_match.url_name as url_name %}
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="{% url 'main' %}" class="nav-link {% if url_name == 'main' %}active{% endif %}"  aria-current="page">Home</a></li>
        <li class="nav-item"><a href="{%url 'market'%}" class="nav-link  {% if url_name == 'market' %}active{% endif %} ">Market</a></li>
        <li class="nav-item"><a href="{% url 'pricing'%}" class="nav-link  {% if url_name == 'pricing' %}active{% endif %}">Add-Page</a></li>
        {%if user.is_superuser%}
          <div class="dropdown">
              <a class="nav-link  {% if url_name == 'user_profile' or url_name == 'approval' %}active{% endif %} dropdown-toggle" href="" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    My Profile
              </a>

              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                   <li class="nav-item"><a href="{% url 'approval' %}" class="nav-link">Approval Page</a></li>

                   <li class="nav-item"><a href="{% url 'user_profile' %}" class="nav-link">My Goods</a></li>
              </ul>
            </div>
            {%else%}
                 <li class="nav-item"><a href="{% url 'user_profile' %}" class="nav-link">My Goods</a></li>
            {%endif%}

           {%if user.is_authenticated%}
            <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link  {% if url_name == 'logout' %}active{% endif %}">Log out</a></li>
          {%else%}
            <li class="nav-item"><a href="{% url 'login' %}" class="nav-link  {% if url_name == 'login' %}active{% endif %}">Log in</a></li>
          {%endif%}
      </ul>
        {%endwith%}
    </header>
  </div>

{%block content%}

{%endblock%}









</body>
</html>