{%extends 'layout.html'%}
{%block name%}Welcome to Weather App{%endblock%}
{%block title%}Weather App{%endblock%}
{%block content%}

{%if user.is_authenticated%}
    <div class="big">






        <div class="div-left">
            <h1 class="display-5">Weather App</h1>
                <form action="" method="post">
                    {% csrf_token %}
                      {{form.city}}

                 <button class="w-100 btn btn-lg btn-primary" type="submit">Find</button>
                </form>


        </div>








        <div class="div-right">
    {%for city in data%}
            <div class="list-group">
              <span href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                <img src="http://openweathermap.org/img/w/{{city.icon}}.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
                <div class="d-flex gap-2 w-100 justify-content-between">
                  <div>
                    <h6 class="mb-0">{{city.city}}</h6>
                    <p class="mb-0 opacity-150">{{city.temp}} °C</p>
                      <p class="mb-0 opacity-75">{{city.description}}</p>
                  </div>
                    <p class="mb-0 opacity-75">{{city.country}}</p>
                    <form id="my_form" method="post" action="{% url 'deletecity' city.id %}">
                    {% csrf_token %}
                        <input type="submit" class='form-control btn btn-danger' value="delete">
                    </form>


                </div>
              </span>
            </div>
    {%endfor%}
        </div>


        <div class="clr"></div>








</div>
{%else%}
<div class="alert alert-secondary" role="alert">
  You haven't been registered yet!To register  <a href="{%url 'login' %}" class="alert-link">click here</a>!
</div>
{%endif%}
 {%endblock%}