{%extends 'layout.html'%}
{%block url%}/pricing{%endblock%}
{%block title%}ADD-PAGE{%endblock%}
{%block name%}Welcome to Cars-Sell Page{%endblock%}
{%block content%}
{%if user.is_authenticated%}
    <div class="big" style="grid-template-columns: 100%!important;">
        <div class="div-left">
            <h1 class="display-5">Cars</h1>
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                     {{form.carname}}
                     {{form.owner_phone}}
                     {{form.price}}
                     {{form.description}}
                    <div class="input-file-container">
                        {{form.photo}}
                    </div>
                    <p class="file-return"></p>
                 <button class="w-100 btn btn-lg btn-primary" type="submit">Add</button>
                </form>
        </div>
    </div>
{%else%}
<div class="alert alert-secondary" role="alert">
  You haven't been registered yet!To register  <a href="{%url 'login' %}" class="alert-link">click here</a>!
</div>
{%endif%}
{%endblock%}