{%extends 'layout.html'%}
{%block title%}Market{%endblock%}
{%block name%}Welcome to Cars-Market{%endblock%}
{%block content%}

{%if user.is_authenticated%}

<div class="album py-5 bg-light">
    <div class="container">





        {%if  not search%}
               <h1 class="text-warning">You did not search!</h1>
          <form method="POST" action="{% url 'search' %}">
                <div style="display: flex;flex-direction: row;margin-bottom: 20px;justify-content: flex-end;align-items: baseline;align-content: center;">
                    {%csrf_token%}
                      <input type="text" class="form-control" name="searched">
                    <button class="btn btn-success"  type="submit">Search</button>
                </div>
          </form>
        {%else%}




        {%if not cars%}
            <h1 class="text-warning">No results!</h1>
          <form method="POST" action="{% url 'search' %}">
          <div style="display: flex;flex-direction: row;margin-bottom: 20px;justify-content: flex-end;align-items: baseline;align-content: center;">
              {%csrf_token%}
              <input type="text" class="form-control" name="searched">
              <button class="btn btn-success"  type="submit">Search</button>
          </div>
               </form>
        {%else%}





        <form method="POST" action="{% url 'search' %}">
        <div style="display: flex;flex-direction: row;margin-bottom: 20px;justify-content: flex-end;align-items: baseline;align-content: center;">
        {%csrf_token%}
                <input type="text" class="form-control" name="searched">
                <button class="btn btn-success"  type="submit">Search</button>
        </div>
        </form>






            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {%for car in cars%}
            <div class="col">
              <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">{{car.carname}}</text></svg>
                <div class="card-body">
                  <p class="card-text">{{car.description}}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="{%url  'view' car.id   %}" class="btn btn-sm btn-outline-secondary">View</a>
                      <a href="{% url   'update' car.id   %}" class="btn btn-sm btn-outline-secondary">Edit</a>
                    </div>
                    <small class="text-muted">{{car.price}}$</small>
                  </div>
                </div>
              </div>
            </div>
             {%endfor%}
            </div>




    </div>
    </div>


{%endif%}
{%endif%}
{%else%}
<div class="alert alert-secondary" role="alert">
  You haven't been registered yet!To register  <a href="{%url 'login' %}" class="alert-link">click here</a>!
</div>
{%endif%}
{%endblock%}